{
    "config": {
        "chat_channel": "testchatchannel",
        "command_channel": "testchatchannel",
        "command_prefix": "!",
        "regex": [
            {
                "type": "groups",
                "match": "\\[(.*?)\\].*INFO.*\\]: <(.*)> (.*)",
                "capture": "**[{groups[0]}]**: {groups[2]}"
            }
        ]
    }
}